<div class="container mt-5">
    <div class="text-center">
        <img src="https://gravatar.com/avatar/${data.emailHashed}?s=256" class="rounded-circle" width="128" style="width:128px" alt="${data.email}" />
    </div>
    <h2 class="text-center pt-3">${i('Welcome back')}, ${data.name ?? data.username}</h2>
    <p class="text-center">${i('Your current network access password is')}:
        &nbsp;&nbsp;&nbsp;&nbsp;
        <code id="netpass" onclick="copyPassword()" style="cursor:pointer;font-family:'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif">${data.attributes.wifiPassword ?? '&lt;Not set yet&gt;'}</code>
    </p>
    <form action="/changePassword" method="POST" class="needs-validation" novalidate style="margin:0 auto;max-width:500px">
        <div class="mb-3">
            <label for="newPassword" class="form-label">${i('Set your network password for Wi-Fi and VPN here')}</label>
            <input 
                type="password" 
                class="form-control" 
                id="newPassword" 
                name="newPassword" 
                placeholder="${i('Enter your new password')}"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$" 
                required
            >
            <div class="form-text">
                ${i('You will need at least 8 characters include at least one uppercase letter, one lowercase letter, one number, and one special character.')}
            </div>
            <div class="invalid-feedback">
                ${i('Please provide a valid password that meets the requirements.')}
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">${i('Set new password')}</button>
            <a href="/logout" class="btn btn-secondary">${i('Sign out')}</a>
        </div>
    </form>
</div>
<script type="text/javascript">
    function copyPassword() {
        if (navigator.clipboard) {
            navigator.clipboard.writeText(document.getElementById("netpass").textContent);
        }
    }
    (function () {
        // Enable Bootstrap's custom validation styles
        const forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });

        const errorMessage = "${data._errorMessage || ''}";
        if (errorMessage) alert(errorMessage);
    })();
</script>