<div class="container mt-5">
    <div class="text-center p-4">
        <img class="rounded" src="/static/images/logo.png" alt="" width="96" height="96" />
    </div>
    <h1 class="text-center">${process.env.HTML_NETWORK_NAME}</h1>
    <h2 class="text-center">${i('Network Access Password Management')}</h2>
    <p class="text-center">${i('You can change your network password that used for Wi-Fi and VPN here.')}</p>
    <div class="text-center mt-5">
        <a href="/changePassword" class="btn btn-primary">${i('OAuth Sign in')}</a>
    </div>
</div>